<%= form_with model: comment do |form| %>
  <div class = "tweet__content">
    <p class = "center-text mb-4"><%= flash[:message] %></p>
    <%= form.text_area :body, class: "comment-edit__content mb-2" %>        
    <%= form.submit "Edit", class: "button button--sm button--primary" %>
  </div>
<% end %>