<div class = "container-sm">
  <div class = "header">
    <h1 class = "content-lg bold">Edit Comment</h1>
  </div>
  <div class = "comment-card center-text">
    <section class= "section-sm"> 
      <%= render "form", comment: @comment %>
    </section>
  </div>
</div>