<div class = "container-sm">
  <div class = "header">
    <h1 class = "content-lg bold">Edit Tweet</h1>
  </div>
  
  <div class = "tweet-card center-text">
    <section class= "section-sm">  
      <%= render "form", tweet: @tweet %>
    </section>    
  </div>
  
</div>