@import url("https://fonts.google.com/share?selection.family=Roboto:wght@100;300;400;700");

body {
  font-size: 16px;
  /* line-height: 24px; */
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background-color: var(--background2);
}

.content-xl {
  font-size: 30px;
  line-height: 40px;
}

.content-lg {
  font-size: 20px;
  line-height: 32px;
}

.content-sm {
  font-size: 14px;
  line-height: 24px;
}

.content-xs {
  font-size: 12px;
  line-height: 16px;
}

/*Font weight*/
.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}